/* Max width 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  .default-btn {
    padding: 12px 25px 11px;
    font-size: 14px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title .sub-title {
    margin-top: 7px;
    font-size: 16px;
  }
  .section-title h2 {
    font-size: 50px;
    margin-top: -2px;
    margin-bottom: 8px;
  }
  .section-title h4 {
    font-size: 20px;
  }
  .section-title p {
    margin-top: 12px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .container-fluid {
    position: relative;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .navbar .default-btn {
    padding: 11px 18px 9px;
    position: absolute;
    font-size: 13px;
    right: 73px;
    top: 10px;
  }
  .navbar .navbar-toggler {
    box-shadow: unset !important;
    padding: 0.45rem 0.71rem;
    border-radius: 0;
    font-size: 1rem;
  }
  .navbar.navbar-light .navbar-nav {
    background-color: #f9f9f9;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .navbar.navbar-light .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .banner-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .banner-area .envytheme {
    display: none;
  }
  .banner-content {
    max-width: 100%;
  }
  .banner-content h1 {
    font-size: 24px;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .banner-content h1 br {
    display: none;
  }
  .banner-box {
    display: none;
  }
  .shape1, .shape2, .shape3 {
    display: none;
  }
  .demos-area {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .single-demo-item {
    margin-bottom: 35px;
  }
  .single-demo-item .image {
    margin-bottom: 30px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
  }
  .single-demo-item h3 {
    font-size: 15px;
  }
  .single-demo-item .new::before {
    display: none;
  }
  .inner-pages-area {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .rtl-area {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .experience-area {
    padding-top: 60px;
  }
  .experience-content {
    margin-top: 0;
  }
  .experience-content h2 {
    font-size: 22px;
  }
  .experience-content ul {
    margin-top: 20px;
  }
  .experience-content ul li {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .experience-content ul li span {
    margin-top: 10px;
  }
  .experience-content ul li:nth-child(1) {
    left: 0;
  }
  .experience-content ul li:nth-child(2) {
    top: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(3) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(4) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(5) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(6) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(7) {
    top: 0;
    right: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(8) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(9) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-image {
    margin-top: 0;
    margin-left: 0;
    margin-right: -25px;
  }
  .experience-image .variations {
    max-width: 90px;
    top: 100px;
    left: 0;
  }
  .experience-image .variations span {
    display: none !important;
  }
  .experience-image .power-elite-box {
    right: 0;
    bottom: 0;
    max-width: 285px;
    position: relative;
    padding: 15px 20px;
    margin-bottom: -30px;
  }
  .experience-image .power-elite-box span {
    font-size: 13px;
  }
  .experience-image .power-elite-box img {
    margin-right: 15px;
  }
  .features-area {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .single-features-box {
    padding: 25px 15px;
  }
  .single-features-box .icon {
    margin-bottom: 20px;
  }
  .single-features-box h3 {
    font-size: 15px;
  }
  .single-features-box .new::before {
    display: none;
  }
  .documentation-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .documentation-area .shape {
    display: none;
  }
  .documentation-image {
    padding-left: 0;
    margin-bottom: 30px;
  }
  .documentation-content h2 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .documentation-content .default-btn {
    margin-top: 5px;
  }
  .why-choose-us-area {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .why-choose-us-area .section-title h4 {
    line-height: 1.3;
  }
  .single-why-choose-box {
    padding: 20px 15px;
    text-align: center;
  }
  .single-why-choose-box .icon {
    top: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    position: relative;
    text-align: center;
    transform: translateY(0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-why-choose-box h3 {
    font-size: 17px;
    margin-bottom: 12px;
  }
  .single-why-choose-box p {
    font-size: 14px;
  }
  .single-why-choose-box::before {
    margin-left: 0;
  }
  .funfacts-area {
    padding-top: 60px;
  }
  .funfacts-content {
    text-align: center;
    margin-bottom: 0;
    padding-right: 0;
    top: 0;
  }
  .funfacts-content .box {
    margin-bottom: 25px;
  }
  .funfacts-content .box img {
    margin-right: 0;
    margin-bottom: 18px;
  }
  .funfacts-content .box h3 {
    font-size: 25px;
    margin-bottom: 4px;
  }
  .funfacts-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
  }
  .pricing-area {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .pricing-area .section-title h4 {
    line-height: 1.3;
  }
  .single-pricing-box {
    padding: 25px 20px;
  }
  .single-pricing-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .single-pricing-box .price {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 13px;
  }
  .single-pricing-box .price span {
    margin-left: -7px;
    font-size: 14px;
  }
  .single-pricing-box p {
    font-size: 14px;
  }
  .single-pricing-box .default-btn {
    margin-top: 20px;
  }
  .single-pricing-box .sub-title {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .single-pricing-box ul li {
    font-size: 14px;
    padding-left: 30px;
  }
  .single-pricing-box .image {
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
    margin-bottom: 0;
  }
  .single-pricing-box .popular {
    top: 0;
    left: 0;
    font-size: 12px;
    position: relative;
    margin-bottom: 20px;
  }
  .other-versions-area {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .other-versions-area .section-title h4 {
    line-height: 1.4;
  }
  .mv-card {
    padding: 20px 15px;
  }
  .mv-card h3 {
    font-size: 15px;
    margin-top: 20px;
  }
  .power-elite-author-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-content {
    max-width: 100%;
  }
  .footer-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .footer-content p {
    margin-top: 25px;
  }
  .author-logo {
    width: 55px;
    right: 15px;
    height: 55px;
    bottom: 100px;
  }
  .author-logo img {
    width: 55px;
  }
  .buy-now {
    right: 20px;
    width: 55px;
    height: 55px;
    bottom: 20px;
  }
  .envytheme-cursor, .envytheme-cursor2 {
    display: none;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar .container-fluid {
    max-width: 540px;
  }
  .navbar .default-btn {
    right: 80px;
  }
  .banner-content h1 {
    font-size: 27px;
  }
  .inner-pages-area .container-fluid {
    max-width: 540px;
  }
  .single-pricing-box {
    padding: 30px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .default-btn {
    font-size: 15px;
  }
  .section-title h2 {
    font-size: 70px;
    margin-top: -4px;
    margin-bottom: 5px;
  }
  .section-title h4 {
    font-size: 28px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .container-fluid {
    position: relative;
    max-width: 720px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .navbar .default-btn {
    padding: 12px 30px 12px;
    position: absolute;
    font-size: 14px;
    right: 80px;
    top: 7px;
  }
  .navbar .navbar-toggler {
    box-shadow: unset !important;
    padding: 0.55rem 0.75rem;
    border-radius: 0;
    font-size: 1rem;
  }
  .navbar.navbar-light .navbar-nav {
    background-color: #f9f9f9;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
  }
  .navbar.navbar-light .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
  .banner-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .banner-content {
    max-width: 100%;
  }
  .banner-content h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .banner-content h1 br {
    display: none;
  }
  .banner-box {
    display: none;
  }
  .shape1, .shape2, .shape3 {
    display: none;
  }
  .single-demo-item h3 {
    font-size: 18px;
  }
  .inner-pages-area .container-fluid {
    max-width: 720px;
  }
  .experience-content {
    margin-top: 0;
  }
  .experience-content h2 {
    font-size: 30px;
  }
  .experience-content ul {
    margin-top: -15px;
  }
  .experience-content ul li {
    margin-right: 25px;
    margin-top: 25px;
  }
  .experience-content ul li:nth-child(1) {
    left: 0;
  }
  .experience-content ul li:nth-child(2) {
    top: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(3) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(4) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(5) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(6) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(7) {
    top: 0;
    right: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(8) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(9) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:last-child {
    margin-right: 0;
  }
  .experience-image {
    margin-top: -100px;
    margin-left: -20px;
    margin-right: -100px;
  }
  .experience-image .variations {
    left: 0;
    top: 200px;
  }
  .experience-image .power-elite-box {
    bottom: 25px;
    right: 100px;
  }
  .documentation-area .shape {
    display: none;
  }
  .documentation-image {
    padding-left: 0;
  }
  .documentation-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .documentation-content .default-btn {
    margin-top: 10px;
  }
  .single-why-choose-box {
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 20px;
    padding-bottom: 35px;
  }
  .single-why-choose-box .icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  .single-why-choose-box::before {
    margin-left: 30px;
  }
  .funfacts-area {
    padding-top: 80px;
  }
  .funfacts-content {
    text-align: center;
    margin-bottom: 0;
    padding-right: 0;
    top: 0;
  }
  .funfacts-content .box {
    margin-bottom: 30px;
  }
  .funfacts-content .box img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .funfacts-content .box h3 {
    font-size: 32px;
    margin-bottom: 5px;
  }
  .funfacts-image {
    margin-left: 0;
    margin-right: 0;
  }
  .single-pricing-box {
    padding: 35px 25px;
  }
  .single-pricing-box h3 {
    font-size: 17px;
  }
  .single-pricing-box .price {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 13px;
  }
  .single-pricing-box .price span {
    font-size: 15px;
  }
  .single-pricing-box p {
    font-size: 14px;
  }
  .single-pricing-box .default-btn {
    margin-top: 25px;
  }
  .single-pricing-box .sub-title {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .single-pricing-box ul li {
    font-size: 14px;
    padding-left: 31px;
  }
  .single-pricing-box .image {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .mv-card h3 {
    font-size: 18px;
  }
  .footer-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-content {
    max-width: 100%;
  }
  .footer-content h2 {
    font-size: 35px;
  }
  .envytheme-cursor, .envytheme-cursor2 {
    display: none;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .container-fluid {
    max-width: 960px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .navbar .navbar-brand {
    margin-right: 0;
  }
  .navbar-light .navbar-nav .nav-item {
    margin-left: 11px;
    margin-right: 11px;
  }
  .navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .navbar-light .default-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  .banner-area {
    padding-top: 130px;
    padding-bottom: 200px;
  }
  .banner-content {
    max-width: 100%;
  }
  .banner-box.one {
    width: 250px;
  }
  .banner-box.two {
    width: 150px;
  }
  .banner-box.three {
    left: 100px;
    width: 230px;
    bottom: -15px;
  }
  .banner-box.four {
    width: 100px;
  }
  .banner-box.five {
    width: 155px;
    right: 15px;
    top: 30px;
  }
  .banner-box.six {
    right: 20px;
    width: 280px;
    bottom: 20px;
  }
  .banner-box.seven {
    right: 25%;
    bottom: 5px;
    width: 105px;
  }
  .inner-pages-area .container-fluid {
    max-width: 960px;
  }
  .experience-area .row {
    align-items: end;
  }
  .experience-content {
    margin-top: 0;
    padding-bottom: 80px;
  }
  .experience-content ul {
    margin-top: -25px;
  }
  .experience-content ul li {
    margin-right: 25px;
    margin-top: 25px;
  }
  .experience-content ul li:nth-child(1) {
    left: 0;
  }
  .experience-content ul li:nth-child(2) {
    top: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(3) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(4) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(5) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(6) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(7) {
    top: 0;
    right: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(8) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:nth-child(9) {
    top: 0;
    left: 0;
    position: relative;
  }
  .experience-content ul li:last-child {
    margin-right: 0;
  }
  .experience-image {
    margin-top: -100px;
    margin-left: -50px;
    margin-right: -50px;
  }
  .experience-image .variations {
    left: -50px;
    top: 200px;
  }
  .experience-image .variations span {
    font-size: 12px;
  }
  .experience-image .power-elite-box {
    right: 60px;
    bottom: 20px;
  }
  .documentation-area .shape {
    left: 0;
    bottom: 0;
    max-width: 290px;
  }
  .documentation-image {
    padding-left: 0;
  }
  .documentation-content .default-btn {
    margin-top: 15px;
  }
  .funfacts-content {
    margin-bottom: -40px;
    top: -20px;
  }
  .funfacts-content .box {
    margin-bottom: 40px;
  }
  .funfacts-content .box img {
    margin-right: 18px;
  }
  .funfacts-image {
    margin-left: -70px;
    margin-right: 0;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .experience-content {
    margin-top: -35px;
  }
  .experience-content ul {
    margin-top: 30px;
  }
  .experience-content ul li:nth-child(1) {
    left: 320px;
  }
  .experience-content ul li:nth-child(3) {
    left: 180px;
  }
  .experience-content ul li:nth-child(4) {
    left: 70px;
  }
  .experience-content ul li:nth-child(5) {
    left: 250px;
  }
  .experience-content ul li:nth-child(6) {
    left: 350px;
  }
  .experience-content ul li:nth-child(7) {
    right: 40px;
  }
  .experience-content ul li:nth-child(8) {
    top: 210px;
    left: -25px;
  }
  .experience-image {
    margin-left: -50px;
    margin-right: -50px;
  }
  .experience-image .variations {
    left: -80px;
  }
  .experience-image .power-elite-box {
    bottom: 37px;
  }
  .single-features-box {
    padding: 30px 15px;
  }
  .single-features-box h3 {
    font-size: 16px;
  }
  .documentation-area .shape {
    max-width: 360px;
    bottom: 0;
    left: 0;
  }
  .single-pricing-box {
    padding-left: 30px;
    padding-right: 30px;
  }
  .single-pricing-box ul li {
    font-size: 14px;
  }
  .single-pricing-box .image {
    padding-left: 0;
    padding-right: 0;
  }
  .mv-card {
    padding: 30px 25px;
  }
}
/* Min width 1600px */
@media only screen and (min-width: 1600px) {
  .navbar .container-fluid {
    max-width: 1920px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .banner-box.one {
    top: 30px;
    left: 100px;
    width: 420px;
  }
  .banner-box.two {
    left: 50px;
    width: 320px;
    bottom: 100px;
  }
  .banner-box.three {
    left: 150px;
    width: 450px;
    bottom: -20px;
  }
  .banner-box.four {
    width: 170px;
    right: 20%;
    top: 0;
  }
  .banner-box.five {
    width: 350px;
    right: 100px;
    top: 100px;
  }
  .banner-box.six {
    right: 25px;
    width: 470px;
    bottom: 40px;
  }
  .banner-box.seven {
    right: 25%;
    width: 175px;
    bottom: 15px;
  }
  .inner-pages-area .container-fluid {
    max-width: 1920px;
  }
  .experience-content ul li:nth-child(8) {
    left: -80px;
  }
  .documentation-area .shape {
    left: 0;
    bottom: -57px;
    max-width: 100%;
  }
}/*# sourceMappingURL=responsive.css.map */