/*-------------------------------
        Hero Section CSS
-------------------------------*/
.hero-area {
    &.style-one {
        .social-wrapper {
            &:before,
            &:after {
                background-color: rgba(255,255,255,0.2);
            }
        }
        .social-profile-wrap {
            .social-profile {
                li {
                    a {
                        .social-icon {
                            background-color: rgba(0,0,0,0.5);
                            border: 2px solid rgba(255,255,255,0.2);
                            i {
                                color: var(--secondaryColor);
                            }
                        }
                        &:hover {
                            i {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
            .circle-text-wrap {
                background-color: rgba(10,10,10,0.5);
                border: 1px solid rgba(255,255,255,0.2);
            }
        }
    }
    &.style-two {
        .social-share {
            .social-profile {
                &.style-two {
                    li {
                        a {
                            border: 1px dashed rgba(235,229,239,0.2);
                            &:hover {
                                border-color: transparent;
                            }
                        }
                    }
                }
            }
        }
        .circle-text-wrap {
            background-color: rgba(10,10,10,0.5);
            border: 2px dashed rgba(255,255,255,0.2);
            &:before {
                background-color: rgba(255,255,255,0.2);
            }
        }
    }
    &.style-three {
        .hero-slide-item {
            .hero-content {
                .circle-text-wrap {
                    background-color: rgba(10,10,10,0.5);
                    border: 2px dashed rgba(255,255,255,0.2);
                }
            }
            .counter-card {
                p {
                    border-right: 1px dashed rgba(10,10,10,0.2);
                }
            }
        }
        .hero-thumbs {
            .swiper-wrapper {
                .hero-thumb-item {
                    border: 1px solid rgba(212,175,55,0.2);
                }
                .swiper-slide-thumb-active {
                    .hero-thumb-item {
                        border: 1px solid rgba(212,175,55,1);
                    }
                }
            }
        }
    }
}
/*-------------------------------
        About Section CSS
-------------------------------*/
.about-area {
    &.style-one {
        .about-content {
            .client-list {
                li {
                    border: 2px solid rgba(255,255,255,0.5);
                    &:last-child {
                        border: none;
                    }
                    span {
                        background-color: var(--secondaryColor);
                        i {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
    }
}
.video-wrapper {
    .video-quote {
        background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
        p {
            color: var(--whiteColor);
        }
    }
}
.feature-list {
    &.style-one {
        li {
            i {
                color: var(--secondaryColor);
            }
        }
    }
    &.style-two {
        li {
            &:before {
                background-color: var(--paraColor);
            }
        }
    }
}
/*-------------------------------
        Why Choose CSS
-------------------------------*/
.wh-area {
    &.style-two {
        background: linear-gradient(270deg, #271F1B 0%, #181D20 100%);
    }
}
.wh-card {
    &.style-two {
        background-color: #251F1C;
        border: 1px dashed #624D46;
    }
}
/*-------------------------------
        Practice Area CSS
-------------------------------*/
.practice-card {
    .practice-features {
        li {
            &:before {
                background-color: var(--paraColor);
            }
        }
    }
    &.style-one {
        .practice-info {
            ul {
                li {
                    &:before {
                        color: var(--paraColor);
                    }
                }
            }
        }
    }
}
.practice-tablist {
    .nav-item {
        .nav-link {
            border-bottom: 1px solid rgba(95,72,65,0.2);
            .practice-icon {
                background-color: var(--whiteColor);
            }
            .practice-text {
                color: var(--titleColor);
            }
            &.active {
                border-bottom: 1px solid rgba(95,72,65,1);
                .practice-icon {
                    background-color: var(--primaryColor);
                }
            }
        }
    }
}
/*-------------------------------
        FAQ Section CSS
-------------------------------*/
.accordion {
    &.style-one {
        .accordion-item {
            background-color: var(--whiteColor);
            .accordion-header {
                .accordion-button {
                    color: var(--titleColor);
                    .accord-arrow {
                        background-color: var(--primaryColor);
                        i {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            .accordion-body {
                border-top: 1px solid rgba(95,72,65,0.1);
            }
        }
    }
    &.style-three {
        .accordion-item {
            .accordion-header {
                .accordion-button {
                    color: var(--titleColor);
                    .accord-arrow {
                        background-color: var(--primaryColor);
                        i {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            .accordion-body {
                border-top: 1px solid rgba(95,72,65,0.1);
            }
            &.collapsed {
                border-bottom: 1px solid #E6E0DA;
            }
        }
    }
}
.error-wrap {
    background-image: url(../img/error-bg.jpg);
    .error-content {
        background-color: rgba(1,37,44,0.9);
        h2 {
            -webkit-text-stroke: 1px black var(--secondaryColor);
        }
    }
}
/*-------------------------------
        Team Section CSS
-------------------------------*/
.team-area {
    &.style-one {
        .team-area-bg {
            &:after {
                background: linear-gradient(-89.88deg, rgba(10, 10, 10, 0) 49.98%, rgba(10, 10, 10, 0.8) 99.88%);
            }
        }
    }
}
.team-card {
    &.style-one,
    &.style-two {
        .team-img {
            .social-link {
                background-color: var(--whiteColor);
                color: var(--titleColor);
                &:hover {
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.attorney-card-wrap {
    .attorney-card {
        .attorney-info {
            background-color: rgba(10,10,10,0.1);
            background: rgba(10, 10, 10, 0.1);
            .social-link {
                background-color: var(--whiteColor);
                color: var(--titleColor);
                &:hover {
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.team-details-content {
    blockquote {
        p {
            background-color: #F4ECE6;
        }
    }
    .counter-card-wrap {
        .counter-card {
            &:after {
                border-right: 1px dashed rgba(10,10,10,0.2);
            }
        }
    }
}
.funfact-area {
    &:after {
        background-color: #F4ECE6;
    }
}
.counter-card-wrap {
    &.style-two {
        .counter-card {
            border-right: 1px dashed rgba(255,255,255,0.2);
        }
    }
    &.style-three {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}
/*-------------------------------
        Brand Section CSS
-------------------------------*/
.brand-area {
    border: 1px solid #EBE5DF;
}

/*-------------------------------
    Testimonial Section CSS
-------------------------------*/
.testimonial-card {
    &.style-two {
        .client-quote {
            .client-info-wrap {
                .client-info {
                    &:before {
                        background-color: var(--secondaryColor);
                    }
                }
                .quote-icon {
                    i {
                        color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
    &.style-three {
        & > i {
            color: var(--optionalColor);
        }
    }
}

.testimonial-slider {
    &.style-one,
    &.style-three {
        .testimonial-pagination {
            border: 1px solid rgba(95, 72, 65, 0.2);
            .swiper-pagination-bullet {
                &:after {
                    background-color: var(--primaryColor);
                }
                &.swiper-pagination-bullet-active {
                    background-color: var(--secondaryColor);
                }
            }
        }
    }
    &.style-two {
        .testimonial-pagination {
            border: 1px dashed #536165;
            .swiper-pagination-bullet {
                &:after {
                    background-color: #536165;
                }
                &.swiper-pagination-bullet-active {
                    background-color: var(--secondaryColor);
                }
            }
        }
    }
}

.testimonial-pagination {
    .swiper-pagination-bullet {
        background-color: transparent;
    }
}
/*-------------------------------
        Promo Area CSS
-------------------------------*/
.promo-area{
    &.style-one{
        &:after{
            background: linear-gradient(270deg, #271F1B 0%, #181D20 100%);
        }
    }
    &.style-two{
        .promo-box{
            background-color: #251F1C;
            border: 1px dashed #624D46;
            .promo-card{
                border-right: 1px dashed #624D46;
            }
        }
    }
}

/*-----------------------
    Case Study CSS
-------------------------*/
.case-slider-wrap{
    &:after{
        border-left: 1px dashed var(--primaryColor);
    }
    .case-pagination{
        .swiper-pagination-bullet{
            color: var(--primaryColor);
            background-color: var(--linenColor);
            border: 1px dashed var(--primaryColor);
            &.swiper-pagination-bullet-active{
                background-color: var(--secondaryColor);
                color: var(--whiteColor);
                border-color: transparent;
            }
        }
    }
}
.case-card{
    &.style-one{
        &:after{
            background: linear-gradient(180deg, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 0.8) 100%);
        }
        .case-info{
            .case-link{
                background-color: var(--whiteColor);
                i{
                    color: var(--primaryColor);
                }
                &:hover{
                    background-color: var(--primaryColor);
                    i{
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
    &.style-two{
        &:after{
            background: linear-gradient(180deg, rgba(10, 10, 10, 0) 50%, #0A0A0A 100%);
        }
        .case-link{
            background-color: var(--whiteColor);
            i{
                color: var(--optionalColor);
            }
            &:hover{
                background-color: var(--primaryColor);
                i{
                    color: var(--whiteColor);
                }
            }
        }
    }
    &.style-three{
        .case-info{
            background: rgba(10, 10, 10, 0.1);
        }
        img{
            border-radius: 20px;
        }
    }
}

/*-------------------------------
        Service CSS
-------------------------------*/
.service-bg{
    &.style-one,
    &.style-two{
        .contact-info{
            background: rgba(10, 10, 10, 0.1);
        }
    }
}
.service-list{
    a{
        color: #BCB9B4;
        border-bottom: 1px solid #E6E0DA;
        span{
            color: var(--titleColor);
        }
        &.active,
        &:hover{
            color: var(--titleColor);
            border-color: var(--optionalColor);
        }
    }
}

/*-------------------------------
        Work Process Section CSS
-------------------------------*/
.process-card{
    &.style-three{
        background-color: #F4ECE6; 
    }
}

/*-------------------------------
        Contact Section CSS
-------------------------------*/
.form-wrapper{
    &.style-one{
        input,select,textarea{
            background-color: #5F4841;
        }
    }
    &.style-two{
        input,select,textarea{
            background-color: #F4ECE6;
            border: 1px solid #EAE2DC;
        }
        .file-upload{
            background-color: #F4ECE6;
        }
    }
    &.style-three{
        input,select,textarea{
            background-color: var(--linenColor);
            border: 1px solid #EAE2DC;
        }
    }
}
.faq-contact-box{
    background-color: #5F4841;
    &:after{
        border-left: 1px dashed rgba(255,255,255,0.1);
    }
}
.contact-area{
    &.style-one{
        .contact-bg{
            &:after{
                background: linear-gradient(180deg, rgba(10, 10, 10, 0) 50%, #0A0A0A 100%);
            }
        }
    }
}
.checkbox{
    &.style-one{
        label{
            &:before{
                background-color: #F4ECE6;
                border: 1px solid #EAE2DC;
            }
        }
    }
    &.style-two{
        label{
            &:before{
                background-color: var(--linenColor);
                border: 1px solid #EAE2DC;
            }
        }
    }
}
.checkbox.style-one input:checked+label:before,
.checkbox.style-two input:checked+label:before{
    border-color: transparent;
}
.checkbox.style-one input:checked+label:after,
.checkbox.style-two input:checked+label:after {
    background: var(--primaryColor);
}

/*-------------------------------
        Pricing Section CSS
-------------------------------*/
.pricing-slider{
    background-color: var(--primaryColor);
    &:before{
        background-color: var(--secondaryColor);
    }
}

/*-------------------------------
        Career Card CSS
-------------------------------*/
.feature-box{
    .feature-counter{
        background-color: #FBF6F0;
    }
}

/*-------------------------------
        Blog Section CSS
-------------------------------*/
.blog-card{
    &.style-one{
        .blog-info{
            .blog-metainfo{
                li{
                    a{
                        color: var(--secondaryColor);
                        &:hover{
                            color: var(--primaryColor);
                        }
                    }
                }
            }
        }
    }
    &.style-two{
        .blog-info{
            .blog-metainfo{
                li{
                    a{
                        color: var(--secondaryColor);
                        &:hover{
                            color: var(--primaryColor);
                        }
                    }
                }
            }
        }
    }
    .blog-date{
        &:hover{
            background-color: var(--primaryColor);
            color: var(--whiteColor);
            span{
                color: var(--whiteColor);
            }
        }
    }
}
.blog-metainfo{
    &.style-two{
        background-color: #F4ECE6;
    }
}
.blog-category{
    &:hover{
        background-color: var(--titleColor);
    }
}

/*-------------------------------
    Sidebar Widget CSS 
-------------------------------*/
.sidebar{
    .sidebar-widget{
        background-color: #F4ECE6;
    }
}
.search-widget{
    input{
        background-color: #FBF6F0;
    }
}
.category-widget{
    ul{
        li{
            a{
                background-color:#FBF6F0;
                border: 1px solid #E6E0DA;
                &:hover{
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                    border-color: transparent;
                }
            }
        }
    }
}
.rp-post-card{
    &.style-two{
        .rp-post-img{
            background-color: var(--whiteColor);
        }
    }
}
.tags-widget{
    ul{
        li a{
            background-color: #FBF6F0;
            border: 1px solid #E6E0DA;
            &:hover{
                background-color: var(--primaryColor);
                color: var(--whiteColor);
                border-color: transparent;
            }
        }
    }
}
.taglist{
    li a{
        background-color: #F4ECE6;
        border: 1px solid #E6E0DA;
        &:hover{
            background-color: var(--primaryColor);
            color: var(--whiteColor);
            border-color: transparent;
        }
    }
}
.contact-info-box{
    background-color: #F4ECE6;
}

/*---------------------------------
    Dark Section CSS
----------------------------------*/
.theme-dark {
    body,
    .bg-linen,
    .responsive-navbar{
        background-color: #000;
        color: #E0E0E0;
    }
    .text-para{
        color: var(--darkParaColor);
    }
    .text-title,h1,h2,h3,h4,h5,h6{
        color: var(--whiteColor);
    }
}
